<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">


    <title>Login</title>
    
  </head>
  <body>  
        <div id="page-content" class="container pt-5">
	        <div class="row">
	        	<div class="col col-3"></div>
	        	<div class="col col-6">
		        	<h2 class="text-center pb-2">Please log in</h2>
		        	<div id="forbiddenAlert" class="alert alert-danger">
		        		Your login / password is not valid.
		        	</div>
		        	<div id="unauthorizedAlert" class="alert alert-danger">
		        		You cannot access this content.
		        	</div>
			        <form id="loginForm" class="pt-2" action="{{{url}}}">
						<div class="form-group row">
							<label for="loginInput" class="col-sm-2 col-form-label">Login</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="login" id="loginInput" placeholder="Username">
							</div>
						</div>
						<div class="form-group row">
							<label for="passwordInput" class="col-sm-2 col-form-label">Password</label>
							<div class="col-sm-10">
								<input type="password" class="form-control" name="password" id="passwordInput" placeholder="Password">
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-10">
								<input type="hidden" name="requested-url" value="{{{requested_url}}}"/>
								<button type="submit" class="btn btn-primary">Sign in</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col col-3"></div>
			</div>
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>


    <script type="text/javascript">
    	{{{login}}}
    </script>
  </body>
</html>